<!DOCTYPE html>
<html>
<head>
    <title>All Blogs</title>
    <style>
        .blog-card {
            border: 1px solid #ddd;
            padding: 1em;
            margin-bottom: 1em;
        }
        .thumb {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Blog Posts</h1>
    <div id="blog-list">
        <!-- Blog cards will be injected here -->
    </div>

    <script src="/js/loadPost.js" defer></script>
</body>
</html>
