<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    
    <div class="register-container">
        <h2>Register</h2>

        <!--Displayed success or error message-->
        <% if (typeof success_msg !== 'undefined') { %>
            <p style="color: green;"><%= success_msg %></p>
        <% } %>
        
        <% if (typeof error_msg !== 'undefined') { %>
            <p style="color: red;"><%= error_msg %></p>
        <% } %>

        <form action="/register" method="post">
            <input type="text" name="name" placeholder="Enter your name.">
            <input type="email" name="email" placeholder="Enter your Email.">
            <input type="file">
            <input type="password" name="password" placeholder="Enter you Password.">
            <button type="submit">Register</button>
        </form>

        <div class="register-link">
            <a href="/login">Go to login</a>
        </div>
    </div>

</body>
</html>